extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | SalonSeeker was created to help people find beauty and grooming services.
        | <br /><br />
        | SalonSeeker aims to provide users with a seamless and efficient tool to locate, evaluate, and book appointments at salons in their vicinity.
        | <br /><br />
        | It's a good to go place for all in one needs right from the hair to pedicure.
        | <br /><br />
        | SalonSeeker showcase a variety of salons, spas, and beauty centers, each accompanied by detailed information including services offered, pricing, ratings, and customer reviews... Let SalonSeeker help you find the place you're looking for..