extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          |SalonSeeker
          small &nbsp;Find best salons in town!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Hair Haven
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty 
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125 Anna Salai, Gandhi Bazar Road, RG1 1PS
          p
            span.label.label-warning Haircare 
            | &nbsp;
            span.label.label-warning Health and Wellness
            | &nbsp;
            span.label.label-warning Nail Care
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Gloss And Glow
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address 167 Park Street, JLN Marg, RG4 1PS
          p
            span.label.label-warning Massage and Body Treatments
            | &nbsp;
            span.label.label-warning Bridal and Special Occasion Services
            | &nbsp;
            span.label.label-warning Consultations
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Lavish Locks
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address 157 MG Road, Kemps Corner, RG7 1PS
          p
            span.label.label-warning  
            | &nbsp;Haircare 
            span.label.label-warning 
            | &nbsp;Skincare 
            span.label.label-warning 
            | &nbsp;Spa Service
    .col-xs-12.col-sm-4
      p.lead
        | Looking for best Salons in town? SalonSeeker helps you find best beauty and grooming services.